<div class="container">
	<p>
	<h3>History</h3>
	</p>
	<p>The City of Labro, of just over 300 inhabitants is located in
		the province of Rieti, on the border with the Province of Terni and is
		located 628m above sea level. The town, the victim of so many
		disasters, and was recently renovated by architect Ivan Van
		Mossevelde. The City of Labro due in part to these renovations was
		recently awarded the Orange Flag, eco-tourism environment awarded by
		the Italian Touring Club.</p>
	<p>The first recorded history dates back to 956 when Otto I of
		Germany enfeoffs and grants to Aldobrandino de 'Nobili the village of
		Labro and 13 other castles and settlements nelDucato of Spoleto and in
		the countryside of Rieti, declaring investiture Labro for "head and
		metropolis "and giving weapons to the negress eagle with crowned head.</p>
	<p>The history of Labro has been anything but peaceful, on the one
		hand there were numerous disputes with the lords of Luco, continually
		damaged by the agro reatino reclamation works, on the other there were
		the constant attacks of the rulers neighbors because the strategic
		location of the village.
	</p>
</div>
