<header>
	<div class="container">
		<div class header>
			<ul id="nav">
				<li><img src="../assets/img/Labro-Italy-Logo.png" width="75%" /></li>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/attractions">Attractions</a></li>
				<li><a href="#/restaurants">Restaurants</a></li>
				<li><a href="#/history">History</a></li>
				<li><a href="#/contact">Contact</a></li>
				<li><a href="#/directions">Directions</a></li>
				<li><a href="#/about">About Us</a></li>
			</ul>
		</div>
	</div>
</header>